.car {
    padding: 100px 0;
    &__title {
        font-size: 35px;
        line-height: 96.5%;
        color: #0F0F10;
        margin-bottom: 70px;
    }
    &__content{
        display: flex;
        column-gap: 20px;
        flex-wrap: wrap;
        &-card {
            width: calc(33.33333% - 13.33333px);
        }
        &-img {
            width: 100%;
        }
        &-about {
            padding: 35px;
        }
        &-title {
            font-size: 25px;
            line-height: 96.5%;
            color: #0F0F10;
            margin-bottom: 26px;
            text-align: center;
        }
        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        &-item {
            display: flex;
            align-items: center;
        }
        &-left {
            display: flex;
            column-gap: 14px;
            width: 60%;
            align-items: center;
        }
        &-right {
            width: 40%;
            align-items: center;
        }
        &-btn {
            background: linear-gradient(360deg, #077A34 0%, #19E270 100%);
            border-radius: 43px;
            box-shadow: 0px 9px 48px rgba(24, 220, 109, 0.15);
            border: none;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            padding: 17px 90px;
            margin-top: 30px;
            cursor: pointer;
        }
    }
    &__btn {
        background: linear-gradient(360deg, #A8180F 0%, #DD463D 100%);
        border-radius: 43px;
        box-shadow: 0px 9px 48px rgba(211, 61, 52, 0.24);
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        padding: 17px 26px;
        border: none;
        margin: 60px 0 0 430px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
.btn-admin {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}