.header {
    background: #172027;
    padding: 30px 0;
    &__logo {
        cursor: pointer;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        column-gap: 15px;
        align-items: center;
    }
    &__item a {
        color: white;
        
    }
    &__btn {
        background: linear-gradient(360deg, #077A34 0%, #19E270 100%);
        box-shadow: 0px 9px 48px rgba(24, 220, 109, 0.15);
        border-radius: 43px;
        border: none;
        padding: 11px 31px;
        color: white;
        cursor: pointer;
    }
    &__ul {
        display: flex;
        column-gap: 15px;
        align-items: center;
    }
    &__under-list {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        & a {
            color: #0F0F10;
            text-decoration: none;
        }
        & a:visited{
            color: #E31E24;
        }
    }
}