@use 'header.scss';
@use 'home.scss';
@use 'car.scss';
@use 'advantage.scss';
@use 'map.scss';
@use 'useful.scss';
@use 'footer.scss';
@use 'catalog.scss';
@use 'useful-info.scss';
@use 'center.scss';
@use 'auto.scss';
@use 'power.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: 'Finlandica', sans-serif;
}

.container {
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}



